<h1>LimeGroups#lime_groups_index</h1>
<p>Find me in app/views/lime_groups/lime_groups_index.html.erb</p>

<h1>Listing Surveys</h1>

<table class="table table-hover">
  <tr>
    <th>gid</th>
    <th>sid</th>
    <th>survey groups</th>
    <th>role aggredate field</th>
  </tr>

  <% @lime_groups.each do |lime_group| %>

    <tr>
      <td><%= lime_group.gid %></td>
      <td><%= link_to lime_group.sid, lime_group_path(lime_group) %></td>
      <td><%= lime_group.group_name %></td>

    </tr>

  <% end %>
</table>
