<h1>LimeGroups#lime_groups_list</h1>
<p>Find me in app/views/lime_groups/lime_groups_list.html.erb</p>

<h1>Listing Surveys</h1>

<table>
  <tr>
    <th>gid</th>
    <th>sid</th>
    <th>group_name<th>
  </tr>

  <% @lime_group.each do |limereport| %>
    <tr>
      <td><%= limereport.gid %></td>
      <td><%= limereport.sid %></td>
      <td><%= limereport.group_name %></td>
      <td><%= link_to 'Show', lime_groups_path(limereport) %></td>
    </tr>
  <% end %>
</table>
