<%= stylesheet_link_tag "comments" %>
<div class="user-response-comments">
  <div class="row header">
    <h3>Comments</h3>
  </div>
  <hr />
  <div class="row content">
    <%= render partial: "comments/comments", locals: {commentable: @user_response} %>
  </div>
  <div class="row comments-box">
    <%= render partial: "comments/form", locals: {commentable: @user_response} %>
  </div>
</div>
