<%= stylesheet_link_tag "comments" %>
<div class="user-response-comments">
  <% if @user_response.has_comments? %>
    <div class="row content comments-block">
      <%= render partial: "comments/comments", locals: {commentable: @user_response} %>
    </div>
  <% else %>
    <div class="row content no-comments">No comments yet.</div>
  <% end %>
  <div class="row comments-box">
    <%= render partial: "comments/form", locals: {commentable: @user_response} %>
  </div>
</div>
