<h2 class="user-response-title">
  <%= @user_response.title %>
  <% if hf_show_ur_status? @user_response, current_user %>
    - <span class="label label-<%= hf_label_color(@user_response, :status) %>"><%= @user_response.status %></span>
  <% end %>
</h2>
<hr />
