<% return unless dash.dashboard_widgets.count == 0 %>

<li class="gs-w gs-w-no-resize" style="padding:0 20px;"
        data-col="2" data-row="1"
        data-sizey="1" data-min-sizey="1" data-max-sizey="1"
        data-sizex="2" data-min-sizex="2" data-max-sizex="2" >
    <div class="widget-resize-hook">
        <h3 style="background-color: #FFFF00">OASIS Up Coming Appointments</h3>
          <% if !@meetings.empty? and current_user.coaching_type == 'student' %>
            <% events = Event.where("id = ? and start_date >= ?", @meetings.last.event_id, Date.today) %>
             <% if !events.nil? %>
                <table class="table table-hover w-auto"  >
                  <tr>
                    <th data-data="advisor">Advisor</th>
                    <th data-data="start_date">Start date</th>
                    <th data-data="end_date">End date</th>
                  </tr>
                  <% events.each do |event| %>
                    <tr>
                      <td><%= event.description %></td>
                      <td><%= event.start_date.strftime("%m/%d/%Y %T %p") %></td>
                      <td><%= event.end_date.strftime("%m/%d/%Y %T %p") %></td>
                    </tr>
                  <% end %>
                </table>
            <% else %>
                <h4> *** No Appointments Found! *** </h4>
            <% end %>

          <% end %>
          <%= link_to coaching_index_path(email: @pk), target: '_blank', :class=>'btn btn-success' do %>
              Create an Appointment at OASIS!
              <i class="fa fa-external-link"></i>
          <% end %>

    </div>
</li>

<li data-col="3" data-row="1" data-sizex="3" data-sizey="1" data-min-sizex="2" class="gs-w" style="padding:0 20px;">
    <div class="xwidget-resize-hook">
        <h4>*** More data display coming soon! ***</4>
        <br/>
        <!-- <a class="btn btn-large btn-success" href="javascript:void(0);" onclick="javascript:introJs().start();">Take a tour!</a> -->
    </div>
</li>

<li class="gs-w gs-w-no-resize" style="padding:20px 35px;"
        data-step="3"
        data-intro="Charts and other graphical items can be enlarged and viewed separately when double clicked."
        data-position="right"
        data-col="2" data-row="2"
        data-sizey="1" data-min-sizey="1" data-max-sizey="1"
        data-sizex="1" data-min-sizex="1" data-max-sizex="1" >
        <div class="widget-content">
            <div class="chart-visualization">
                <ul class="list-inline">
                    <li>
                        <i class="fa fa-smile-o" style="font-size:150px;"></i>
                    </li>
                    <li>
                        <div class="hide-unless-modal">
                            <div class="bs-callout bs-callout-info" id="callout-alerts-dismiss-plugin">
                                <h4>Save interesting pieces of information for later!</h4>
                                <p>When you add something to your dashboard you can double-click/tap on it to enlarge the information</p>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
</li>
