<div class="col-xl-3 col-lg-6 mb-4">
  <div class="bg-white rounded-lg p-5 shadow">
    <h2 class="h6 font-weight-bold text-center mb-4">2 WBAs Per EPA</h2>

    <div class="progress mx-auto" data-value="<%= @wbas_epas_per %>">
      <span class="progress-left">
                    <span class="progress-bar border-success"></span>
      </span>
      <span class="progress-right">
                    <span class="progress-bar border-success"></span>
      </span>
      <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
        <div class="h2 font-weight-bold"><%= @wbas_epas_per %> <sup class="small">%</sup></div>
      </div>
    </div>
  </div>
</div>
