<h1>Editing course schedule</h1>

<%= render "form", course_schedule: @course_schedule %>

<br>

<div>
  <%= link_to "Show this course schedule", @course_schedule %> |
  <%= link_to "Back to course schedules", course_schedules_path %>
</div>
