<% if !commentable.comments.empty? %>
  <% commentable.comments.each do |comment| %>
    <% if comment.flagged_as.nil? %>
      <%= render partial: "comments/comment_row",
      locals: { commentable: commentable, comment: comment } %>
    <% else %>
      <%= render partial: "comments/#{comment.flagged_as}_comment_row",
      locals: { commentable: commentable, comment: comment } %>
    <% end %>
  <% end %>
<% else %>
  <% if can? :comment_on, commentable %>
    <div class="no-comments">No comments yet.</div>
  <% end %>
<% end %>
