<%- model_class = Assignment::AssignmentComment -%>
<div class="page-header">
    <% title ||= model_class.model_name.human.pluralize.titleize %>
  <h1><%=t '.title', default: title  %></h1>
</div>

<% prefix ||= 'group-comment' %>

<blockquote>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Integer posuere erat a ante.
    </p>
  <footer>
    Bill Hatt <i>Sun. Oct. 19th 2015</i>
  </footer>
</blockquote>

<div id="group_comment_33">
    <blockquote class="bs-callout-primary">
        <div class="md-show">
            <div class="md-show-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Integer posuere erat a ante.
            </div>
            <p/>
            <footer>
                Bill Hatt <i>Sun. Oct. 19th 2015</i>
                <div class="pull-right">
                    <button type="button" class="btn btn-link"
                        data-hide="#group_comment_33 .md-show"
                        data-show="#group_comment_33 form">
                    <i class="glyphicon glyphicon-edit"></i>
                  </button>
                  <button type="button" class="btn btn-link"
                          data-confirmed="Deleting comment. Are you sure?"
                          data-hide="#group_comment_33">
                      &times;</button>
                </div>
            </footer>
        </div>

        <i class='icon-spinner icon-spin icon-large'></i>
        <form class="md-form form-group" style="display:none;">
            <h4>
                <span class="label label-primary">Editing</span>
                Comment
            </h4>

            <textarea class="form-control" rows="4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. </textarea>
            <div class="pull-right">
                <button type="button"
                        class="btn btn-link"
                        data-show="#group_comment_33 .md-show"
                        data-hide="#group_comment_33 form"
                        data-action='submit'
                        data-insert=':replace'
                        data-target='#group_comment_33'>
                <i class="glyphicon glyphicon-ok"></i>
              </button>
              <button type="button"
                      class="btn btn-link"
                      data-show="#group_comment_33 .md-show"
                      data-hide="#group_comment_33 form">
                  <i class="fa fa-ban"></i>
              </button>
            </div>
        </form>
    </blockquote>
</div>
  <% new_btn_id = "new-#{prefix}-btn" %>
  <%= link_to 'New', new_assignment_assignment_group_comment_path(assignment_group_id: 1),
        id: new_btn_id,
        class: "btn btn-primary",
        data: {
            hide:"##{new_btn_id}",
            action:'resource-load',
            target:"##{new_btn_id}",
            insert:":before"} %>
