<% ur = ua.user_responses.first %>
<ul class="list-group">
  <li class="list-group-item">
  <div class="row">
    <div class="col-md-8">
      <%= link_to ur.title, assignment_user_response_path(ur) %>
    </div>
    <div class="col-md-2">
      <span class="label label-<%= status_label_color ur %>"><%= ur.status %></span>
    </div>
    <div class="col-md-2">
      <%= link_to assignment_user_response_comments_path(ur), data: { toggle: :modal } do %>
        <i class='fa fa fa-comments-o'></i>
      <% end %>
    </div>
  </div>
  </li>
</ul>
