<br />
<h5>Editing Usmle Exam: <i><b><%= @usmle_exam.user.full_name %></b></i> </h4>

<%= render 'form', usmle_exam: @usmle_exam %>

<%= link_to 'Show', @usmle_exam %> |
<%= link_to 'Back', usmle_exams_path %>
