<br />
<h4>Fix EG Member(s) Module</h4>

<div id="container-fluid">
    <% if can? :crud, Dashboard %>
        <div class="card">
          <div class="card-body card-body-color">
            <div class="d-flex">
               <%= simple_form_for(epa_masters_path, html: {class: "inline"}, method: "get") do %>
                 <div class="input-group mb-6">
                   <span class="input-group-text"><b>Cohort:&nbsp;</b> </span>

                   <%= select_tag :uniq_cohort, options_from_collection_for_select(@uniq_cohorts, "id", "title",  selected: params[:uniq_cohort]),
                       prompt: "Please Select a Cohort", onchange: "this.form.submit(); ", class: 'form-control'  %> &nbsp; &nbsp;

                   <% if !@eg_cohorts.blank? %>
                      <span class="input-group-text"><b>Student:&nbsp;</b> </span>
                      <%= select_tag :email, options_for_select(@eg_cohorts.collect{|s| [s["full_name"], s["email"]]}, selected: params[:email]),
                           prompt: "Please Select a Student", onchange: "this.form.submit();", class: 'form-control' %>
                   <% end %>
                  </div>
                 <% end %>
            </div>
          </div>
        </div>
    <% end %>

    <div id=main2-epa-masters %>
      <%= render partial: 'list_eg_review' %>
    </div>

</div>
