<div class="checkbox">
    <label for="checkbox2">
      <input id="checkbox2" type="checkbox">
      <b>Badge</b>– student is ready to be entrusted to perform that EPA on day 1 of internship without direct supervision. <br />
      OR <br />
      Insufficient Evidence for Badging – they aren’t entrusted/ready yet, due to:
    </label>
</div>
<div class="checkbox">
    <label for="checkbox3">
        <input id="checkbox3" type="checkbox">
        <b>Presumptive trust</b> – there is evidence but it is not enough for badging
    </label>
</div>
<div class="checkbox">
    <label for="checkbo4">
        <input id="checkbox4" type="checkbox">
        <b>Conflicting data</b> – the evidence conflicts and/or the trend has not convinced you that they can be badged yet
    </label>
</div>
<div class="checkbox">
    <label for="checkbox5">
        <input id="checkbox5" type="checkbox">
        <b>Vague data</b> – the evidence is lacking (different from presumptive trust where there is evidence, just not enough)
    </label>
</div>
<div class="checkbox">
    <label for="checkbox6">
        <input id="checkbox6" type="checkbox">
        <b>Distrust/Questioned trust</b>
    </label>
</div>
