<h1>Epas</h1>

<table class="responsive nowrap table table-hover" id="dttb-epas" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="submit_date">Submit date</th>
      <th data-data="student_assessed">Student assessed</th>
      <th data-data="epa">Epa</th>
      <th data-data="clinical_discipline">Clinical discipline</th>
      <th data-data="clinical_setting">Clinical setting</th>
      <th data-data="clincial_assessor">Clincial assessor</th>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
  </thead>

</table>

<br>

<%= link_to 'New Epa', new_epa_path %>