<h2> <%= Settings.site.titles.user_assignment.pluralize %></h2>
<div class='row'>
    <a href='#' class='btn btn-link'>project 1</a>
    <a href='#' class='btn btn-primary'>project 2</a>
    <a href='#' class='btn btn-link'>project 3</a>
    <a href='#' class='btn btn-link'>project 4</a>
    <a href='#' class='btn btn-link'>project 5</a>
    <a href='#' class='btn btn-link'>project 6</a>
</div>
<hr/>
<form>
<div id='assignment_group_2' class="row">
    <div class="col-md-6 main fade-in two">
      <form>
        <h2>Project 2
        <button type='button'
            class='btn btn-default'
            data-show="#assignment_group_2_title"
            data-hide="#assignment_group_2 h2">
            <i class='glyphicon glyphicon-pencil'></i>
        </button>
        </h2>
        <div id='assignment_group_2_title' style='display:none;'>
            <div class="col-sm-12 col-lg-6">
              <div class="input-group input-group-lg">
                <input 
                    type='text' 
                    class="form-control title" 
                    value="Project 2"></input>
                <span class="input-group-btn">
                  <button type='button'
                      class='btn btn-default'
                      data-hide="#assignment_group_2_title"
                      data-show="#assignment_group_2 h2">
                      <i class='glyphicon glyphicon-ok'></i>
                  </button>
                </span>
              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>
      </form>
      <form id='assignment_group_2_slug' class='form-group'>
         <div class="md-show">
             <button type="button" class="btn btn-link pull-right" 
                 data-hide="#assignment_group_2_slug .md-show" 
                 data-show="#assignment_group_2_slug .md-edit">
             <i class="glyphicon glyphicon-edit"></i>
           </button>
         </div>

        <div class='md-show'>
            Preparation for meetings on November 16th.
            <p>
            We are going to have a lot of things to prepare for in the next month, so 
            we need to break these tasks down into smaller and more manageable chunks.
            Some things to think about:
            </p>
            <ol>
                <li>
                    How much time will it take
                </li>
                <li>
                    How much time do you have
                </li>
                <li>
                    What do you want to accomplish
                </li>
            </ol>
        </div>
        <div class="md-edit" style='display:none;'>
            <div class="pull-right">
              <button type="button" class="btn btn-link" 
                    data-show="#assignment_group_2_slug .md-show" 
                    data-hide="#assignment_group_2_slug .md-edit">
                <i class="glyphicon glyphicon-ok"></i>
              </button>
              <button type="button" 
                      class="btn btn-link" 
                      data-show="#assignment_group_2_slug .md-show" 
                      data-hide="#assignment_group_2_slug .md-edit">
                  <i class="fa fa-ban"></i>
              </button>

            </div>
            <textarea class='form-control' rows="8"></textarea>
        </div>
      </form>

        <% @assignment_comments = [] %>    
        <%= render template: 'assignment/assignment_comments/index', locals: {title: :comments} %>


    </div>
    <div class="col-md-6 main fade-in three">
        <h2>Tasks</h2>
        <table class='table table-hover table-striped table-condensed'>
            <tbody>
                <tr>
                    <td><a href='#'>Area of focus exercise</a></td>
                    <td><span class='label label-primary'>Complete</span></td>
                    <td>
                        <%= link_to assignment_assignment_comments_path, data: {toggle: :modal} do %>
                            <i class='fa fa-2x fa-comments-o'>1</i>
                        <% end %>
                    </td>
                </tr>
                <tr>
                    <td><a href='#'>Create list of ideas</a></td>
                    <td><span class='label label-success'>Started</span></td>
                    <td><i class='fa fa-2x fa-comments-o'>3</i></td>
                </tr>
                <tr>
                    <td><a href='#'>Discuss ideas with mentor</a></td>
                    <td><span class='label label-default'>Not started</span></td>
                    <td><i class='fa fa-comments-o'>4</i></td>
                </tr>
                <tr>
                    <td><a href='#'>Plan goals to accomplish ideas</a></td>
                    <td><span class='label label-default'>Not started</span></td>
                    <td><i class='fa fa-comments-o'>9</i></td>
                </tr>
            </tbody> 
        </table>
    </div>
</div>
</form>
