

  <%- if flash.any? %>
    <% flash.keys.each do |flash_key| %>
      <% next if flash_key.to_s == 'timedout' %>
      <div class="alert alert-primary alert-<%= flash_key %>">
        <a class="close" data-dismiss="alert" href="#"> x</a>
        <%= flash.discard(flash_key) %>
      </div>
    <% end %>
  <% end %>
