$('#appt-table').html("<%= j render partial: 'events/detail_appointments', locals: { appointments: @appointments } %>");

$('#check_all').click(function () {
    $('input:checkbox').prop('checked', this.checked);
});

$('#delete_events_table').dataTable language: searchPlaceholder: 'FirstName or LastName'  

var appointments = [];
$('#SaveAll').click(function () {
  $.each($("input[name='checkbox']:checked"), function (K, V) {
      appointments.push(V.value);
  });

 $.ajax({
   url: '/events/save_all',
   type: 'get',
   data: {appointments: JSON.stringify(appointments)},
   dataType: 'json',
   success: function(data) {
     $('#appt-table').empty()
      alert('All Appointments were successfully saved!');
     //window.location = '/events/create_batch_appointments';
     // var msgDiv = '<div id="msg-flash" class="success-flash" ><br /><br /><h5>Apppointments were successfully created!</h5></div>';
     // $('#success-flash').append(msgDiv).html();
     // $('#success-flash2').delay(4000).fadeOut('slow');
     console.log("All appointments were successfully created!")
   },
   error: function(request,error) {
     alert("Request Reviews: "+JSON.stringify(request));
   }
 });

});
