<span>

  <%# <%= link_to 'New Appointment', new_event_path %>
  <%= link_to 'Add Available Appointments', create_batch_appointments_events_path, target: :_blank  %>
  <h3>All Appointments</h3>  
</span>
<%= render partial: "all_valid_events"  %>
<hr>

<div id="calendar">
</div>
