<br />
<h4> Resend Calendar Invite Page</h4>
<hr>
<h5> Calendar Invite has been sent successfully to the following individuals: </h5>
        <%= @student_name %> - <%= @student_email %> <br />
        <%= @advisor_name %> - <%= @advisor_email %> <br /> <br />

<a href="/events/resend_calendar_invite">Back</a>
