<% content_for :head do %>
    <!-- # Include Google js api for jspivot -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript">
        // Add google visualization lib
        google.load("visualization", "1", {packages:["corechart", "charteditor"]});

        jQuery(document).ready(function($){
            // Add google visualization lib
            google.load("visualization", "1", {packages:["corechart", "charteditor"]});

            jQuery(document).ready(function($){
                window.charts = [];
                $('#chart-container-outer').each(function(){
                    charts.push( new Chart(this) );
                })
            });
        });
    </script>

<% end %>

<div id="chart-container-outer">
    <header>
        <h2>
            <i class="fa fa-bar-chart-o"></i>
            <%= link_to 'Charts', charts_path %>
            <span> / </span>
            <span class="de-emphasize"><%= @chart.title.strip.empty? ? "Untitled" : @chart.title %></span>
            <%= link_to 'Edit', edit_chart_path(@chart), :class=>'btn btn-small btn-primary pull-right' %>
        </h2>
    </header>

    <div class="chart-visualization-container-outer row hide-chart-ui">
        <%= render :partial=>'charts/chart_visualization', :locals=>{:chart=>@chart}%>
    </div>
</div>


