<div class="row">
    <div class="col-lg-2 sidebar fade-in one hidden-md hidden-sm hidden-xs">
        <%= render :partial=>'settings/sidenav'%>
    </div>
    <div class="col-lg-10 fade-in two">
        <%= content_tag :iframe, nil, id: :settings_iframe,
                src: iframe_src,
                style:"display:none;"%>
        <div class="spinner-wait"></div>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#settings_iframe").on("load", function () {
                    $("iframe").contents().
                        find("div.col-sm-9").
                        removeClass('col-sm-offset-3 col-md-offset-2');

                    var $head = $("iframe").contents().find("head");
                    $head.append($("<link/>", {
                        rel: "stylesheet",
                        href: "<%= asset_path('rails_admin_iframe.css') %>",
                        type: "text/css" }));
                    $("iframe").css({
                            position: 'absolute',
                            width: '1100px',
                            display: 'block',
                            height: '2500px',
                            border: 'none',
                            'margin-top': '-45px'});
                    $('#list > form.pjax-form.form-inline > div > span:nth-child(4)').css('float', 'none');
                    $('#list > form.pjax-form.form-inline > div > span:nth-child(4)').css('float', 'right');
                    $('.spinner-wait').remove();
                    $(this).off();
                });
            })
        </script>
    </div>
</div>

