<div class="row">
    <div class="col-lg-2 sidebar fade-in one hidden-md hidden-sm hidden-xs">
        <%= render :partial=>'settings/sidenav'%>
    </div>
    <div class="col-lg-5 col-lg-offset-1 fade-in two">
    </div>

    <div class="col-lg-3 col-lg-offset-1 bs-callout bs-callout-info fade-in two">
        <h3>Information</h3>
        <p> Application settings
        </p>
    </div>
</div>
