<div class="flex-child">
  <div id="cs-sidebar-toggle"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></div>
</div>

<div class="flex-child">
  <ul class="nav nav-pills nav-stacked">
    <% if current_user.coach_or_higher? %>
      <% @cohorts.each do |cohort| %>
        <li class=<%= "active" if hf_active_cohort? cohort, @student %>>
          <%= link_to cohort.title, coaching_student_path(cohort.recent_active_user) %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="flex-child">
  <div class="system-explanation">
    <p>some text about how to use the system</p>
    <p>some text about how to use the system</p>
    <p>some text about how to use the system</p>
    <p>some text about how to use the system</p>
    <p>some text about how to use the system</p>
  </div>
</div>
