<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Created At</th>
      <th scope="col">Subject</th>
      <th scope="col">Status</th>
      <th scope="col">Scheduled Apppointment</th>
      <th score="col">Advisor</th>
    </tr>
  </thead>

  <tbody id="meetings-table">
    <%= render partial: "meetings_table_loop", locals: { meetings: @meetings } %>
  </tbody>
</table>
