<table class="table-responsive table-hover main-table" style="width: 100%">
  <thead>
    <tr>
      <th style="width: 100px;">Created At</th>
      <th scope="col" style="width: 50%">Primary Reason</th>
      <th scope="col">Status</th>
      <th scope="col">Scheduled Apppointment</th>
      <th score="col">Advisor</th>
    </tr>
  </thead>

  <tbody id="meetings-table">
    <%= render partial: "meetings_table_loop", locals: { meetings: @meetings } %>
  </tbody>
</table>
