<div class="flex-child">
  <ul class="list-group list-group-root">
    <% @permission_groups.sort.each do |group| %>
      <a href="#<%= group.id %>" class="list-group-item" data-toggle="collapse"><%= group.title %></a>

      <div class="list-group collapse" id="<%= group.id %>">
        <% students = User.where(permission_group_id: group.id) %>
        <% students.sort_by{|u| [u.full_name]}.each do |student| %>
          <div class="list-group-item student-with-goals">
            <%= link_to "#{student.full_name}:
                  #{pluralize(student.meetings.count, 'meeting')} - #{hf_get_cohort(student)}",
                  coaching_student_path(student) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </ul>
</div>
