<select id="student-select" onchange="window.location=this.value">
  <% if !@students.nil? %>
      <% @students.each do |student| %>
        <option value=<%= student.login %> <%= "selected='selected'" if student == @student %>><%= student.display_name %></option>
      <% end %>
  <% end %>
</select>
