<div class="system-explanation">
  <p><b><u>Students & Coaches</u></b></p>
  <p>Please review the following:</p>
  <p>Assessments</p>
  <p>Exam scores</p>
  <p>Course grades</p>
  <p>Self-reflections</p>
  <p>Goals from last meeting</p>
  <p>Achieved competencies</p>
  <p><b><u>Students</u></b></p>
  <p>Revised goals</p>
  <p>Proposed experience/advancement schedule</p>
  <p>Plan to mitigate identified gaps in knowledge/experience</p>
  <p>Follow up on action items from prior meeting</p>

</div>
