<div class="system-explanation">
  <p>some text about how to use the system</p>
  <p>some text about how to use the system</p>
  <p>some text about how to use the system</p>
  <p>some text about how to use the system</p>
  <p>some text about how to use the system</p>
</div>
