<div id="cs-goals-nav" class="">
  <ul class="nav nav-pills nav-stacked">
    <li id="cs-sidebar-toggle"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></li>
    <li class="active"><a href="#">18</a></li>
    <li><a href="#">19</a></li>
    <li><a href="#">20</a></li>
    <li><a href="#">21</a></li>
  </ul>
</div>
<div id="cs-goals-main" class="">
  <h3>here are some goals</h3>
  <ul class="list-group">
    <li class="list-group-item" id="show-detail"><a href="#">show one</a></li>
  </ul>
</div>
<div id="cs-goals-detail" class="">
  <h3>detail</h3>
  <p id="hide-detail">hide this</p>
</div>
