<div id="cs-goals-nav">
  <%= render partial: "cohorts_select" %>
</div>

<div id="cs-goals-main">

  <% if current_user.coach_or_higher? %>
    <div id="cs-student-select">
      <%= render partial: "student_select" %>
    </div>
    <hr>
  <% end %>

  <h3 class="goals-header">here are some goals</h3>

  <ul class="nav nav-tabs goal-tabs" role="tablist">
    <li class="nav-item active">
      <a class="nav-link" id="goals-tab" data-toggle="tab" href="#goals" role="tab" aria-controls="goals" aria-selected="true">Goals</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="meetings-tab" data-toggle="tab" href="#meetings" role="tab" aria-controls="meetings" aria-selected="false">Meetings</a>
    </li>
  </ul>

  <div class="tab-content" style="height: 80%;">
    <div class="tab-pane active" id="goals" role="tabpanel" aria-labelledby="goals-tab" style="height: 75%">
      <div class="new-goal">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#newGoalModal">Add new goal</button>
      </div>

      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Date Added</th>
            <th scope="col">Goal</th>
            <th scope="col">Competency Tag</th>
            <th scope="col">Status</th>
          </tr>
        </thead>

        <tbody id="goals-table">
          <% @goals.each do |g| %>
            <%= render partial: "coaching/goals/goal_row", locals: { goal: g } %>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="tab-pane fade" id="meetings" role="tabpanel" aria-labelledby="meetings-tab">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Date/Time</th>
            <th scope="col">Subject</th>
            <th scope="col">Location</th>
            <th scope="col">Status</th>
          </tr>
        </thead>

        <tbody id="meetings-table">
          <tr>
            <td>meetings go here</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="general-comments">
      general comments go here
    </div>
  </div>
</div>

<div id="cs-goals-detail"></div>

<div class="modal fade" id="newGoalModal" tabindex="-1" role="dialog" aria-labelledby="newGoalModalLabel" aria-hidden="true">
  <%= render "coaching/goals/new_modal" %>
</div>
