<% content_for :title, "New new competency" %>

<h1>New new competency</h1>

<%= render "form", new_competency: @new_competency %>

<br>

<div>
  <%= link_to "Back to new competencies", new_competencies_path %>
</div>
