<div class="panel panel-default">
    <div class="panel-body"><h4>FoM Blocks</h4> <%= "Student: <b>#{@user.first.full_name}</b><br/> Coach: <b>#{@user.first.cohort.title}</b>".html_safe %>
    </div>
</div>
