defaults: &defaults
  encoding: utf8
  adapter: postgresql
  port: <%= ENV['DB_PORT'] %>
  username: <%= ENV['POSTGRES_USER'] %>
  password: <%= ENV['POSTGRES_PASSWORD'] %> 
  host: <%= ENV['DB_HOST'] %>
  reconnect: false

development:
  <<: *defaults
  database: <%= ENV['DB_NAME'] %>_development

production:
  <<: *defaults
  database: <%= ENV['DB_NAME'] %>_production

testing:
  <<: *defaults
  database: <%= ENV['DB_NAME'] %>_test
