defaults: &defaults
    secret_token: $APP_SECRET
    lime_url: nil
    admin:
        email: $ADMIN_EMAIL
        name: $ADMIN_FULL_NAME
    site:
        name: Some Site
        name_html: Test
        logo: none
        titles: 
           user_assignment: Assignment
    devise:
        secret_key: $DEVISE_SECRET
        timeout_in: 60
    ldap:
        host: localhost
        port: 3389
        attribute: cn
        base: ou=people,dc=test,dc=com
        admin_user: cn=admin,dc=test,dc=com
        admin_password: admin_password
        ssl: simple_tls
    exception_notification:
        disabled: true
        exception_recipients: ['name@example.com']
        sender_address: '"Exception Notification" <noreply@example.com>'

production:
    <<: *defaults

test:
    <<: *defaults

development:
    <<: *defaults

profile:
    <<: *defaults

