<h3>Well that wasn't supposed to happen...</h3>
<p>We have been notified that an error has occurred and are looking for a solution.</p>
<% some_path = auto_path %>
<%= link_to('Return', some_path) if some_path %>
