<h4>Can't verify CSRF token authenticity: Possible stale tokens! Try to log out and re-log in again if necessary!...</h4>
<p>We have been notified that an error has occurred and are looking for a solution.</p>
<% some_path = auto_path %>
<%= link_to('Return', some_path) if some_path %>
