<h2>Well that wasn't supposed to happen...</h2>
<p>We have been notified that an error has occurred and are looking for a solution</p>
<% some_path = auto_path %>
<%= link_to('Return', some_path) if some_path %>
