
<div id="Domain-All" class="modal" role="dialog" data-modal-index="1">
     <div class="modal-dialog modal-lg">
         <div class="modal-content">
             <div class="modal-header">
                 <a href="#close" class="close" data-dismiss="modal" >X</a>
                     <h4 class="modal-title modal-text-align-center">Student Attainment of Required Number of Entrustable Milestones by UME Competency.</h4>
             </div>

             <div class="modal-body">

                <div id="data-visualization-student" style="min-width: 1050px; height: 600px; margin: 0 auto"></div>
                <div id="comp-graph-buttons">
                <button id="plain1" class="btn btn-info btn-sm">Column</button>
                <button id="inverted1" class="btn btn-info btn-sm">Bar</button>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
    </div>
  </div>
</div>
