<div class="row">
  <div class="column left">
      <!--table style="width: 40%;" class="table table-stripe table-condensed table-hover ls_reports_filter spreadsheet-body">  -->
      <table style="width: 40%;" class="table table-stripe table-condensed table-hover ls_reports_filter spreadsheet-body">
        <tr><th><h4>Shelf Exam Reports</h4></th></tr>

          <% @shelf_attachments.each do |attach| %>
             <tr><td><%= attach.html_safe %></td></tr>
          <% end %>

      </table>
  </div>
</div>
