<%= render :partial=>'shared/modal_spinner', :locals=>{:modal_id=>'modal-report', :message=>'Loading Report'}%>
<div id="top"></div>
<div class="row">
    <div class="col-md-12 fade-in two">
        <%= render :partial=>'ls_reports/shared/navbar', :locals=>{:lime_survey=>@lime_survey}%>
    </div>
</div>
<div class="fade-in four">
    <% if @rs_data.count <= 100 %>
    	<%= render :partial=>'ls_reports/spreadsheet/content_epa', :locals=>{:lime_survey=>@lime_survey}%>
    <% else %>
        <%= render :partial=>'ls_reports/spreadsheet/content_epa_class_mean' %>
    <% end %>
</div>
