<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= hf_user_assignment_button_text(local_assigns).html_safe %>
  </button>
  <ul class="dropdown-menu">
    <% obj = @user_response || @user_assignment %>
    <% @user_assignment = @user_response.user_assignment unless @user_assignment.present? %>
    <% hf_user_assignment_cycle_hash(obj).each do |date, urs| %>
      <li>
        <%= link_to date.to_date.to_s(:short),
          assignment_user_assignment_path(@user_assignment, date: date)
          %>
      </li>
    <% end %>
  </ul>
</div>
