<div id="assignment-nav" style=<%= display ? "display:#{display}" : "" %>>
  <div class="row">
    <div id="assignment-group-nav" class='col-md-6' style="border-right:1px solid #eeeeee;">
      <% if @assignment_groups.count > 1 %>
        <% @assignment_groups.each do |group| %>
          <%= link_to group.title, group, class: "btn btn-#{group.id == @assignment_group.id ? :primary : :link}" %>
        <% end %>
      <% end %>
    </div>
    <div id="user-ids-nav" class='col-md-6'>
      <% @assignment_group.user_ids.each do |uid| %>
        <% !uid.empty? ? @u = User.find(uid.to_i) : next %>
        <%= link_to @u.email, assignment_assignment_group_path(@assignment_group, user_id: @u.id),
            class: "btn btn-#{@u.id.to_s == params[:user_id] ? :primary : :link}"%>
      <% end %>
    </div>
  </div>
  <hr/>
</div>
