<div class="btn-group">
  <button type="button" id="compare-dd" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= hf_user_assignment_button_text(local_assigns).html_safe %>
  </button>
  <ul class="dropdown-menu">
    <% iter = hf_user_assignment_cycle_hash(@user_response || @user_assignment) %>
    <% if iter.each do |date, urs| %>
      <% next if date == @date %>
      <li>
        <%= link_to date.to_date.to_s(:long),
          assignment_user_assignment_fetch_compare_path(user_assignment_id: @user_assignment.id, date: date),
          remote: true,
          class: "ua-compare"
          %>
      </li>
    <% end.empty? || iter.keys.count == 1 %>
      <li class="text-align:center;">Nothing to compare to!</li>
    <% end %>
  </ul>
</div>
