<h1>Editing eg member</h1>

<%= render "form", eg_member: @eg_member %>

<br>

<div>
  <%= link_to "Show this eg member", @eg_member %> |
  <%= link_to "Back to eg members", eg_members_path %>
</div>
