
<ul>
    <% #if lime_file_links(pquestion).flatten.count == 1 %>
        <% lime_file_links(pquestion).flatten.each do |link| %>
             <li><%= link %></li>
        <% end %>
    <% #end %>
    <% @pk = current_user.email if @pk.nil? or @pk == "_" %>
    <% fom_block = @lime_survey.title.split("-").last %>
    <% @artifacts_student, @no_official_docs, @shelf_artifacts = hf_get_fom_artifacts(@pk, "FoM", fom_block) %>
    <%= render partial: 'artifacts/shelf_artifacts' %>

</ul>
