
<%= render :partial=>'shared/modal_spinner', :locals=>{:modal_id=>'modal-report', :message=>'Loading Report'}%>
<div id="top"></div>
<div class="row">
    <div class="col-md-12 fade-in one">
        <%= render :partial=>'ls_reports/shared/navbar', :locals=>{:lime_survey=>@lime_survey}%>
    </div>
</div>
<div class="row">
    <div class="col-md-7 fade-in three">
        <%= render :partial=>'ls_reports/graph/content', :locals=>{:lime_survey=>@lime_survey}%>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4 fade-in two">
        <%= render :partial=>'ls_reports/shared/sidebar', :locals=>{:lime_survey=>@lime_survey, :virtual_groups=>@virtual_groups,
                                                                    :opts=>{:hide_arr_flex=>true, :full_desc=>true}}%>
    </div>
</div>

