<h1>Editing badging date</h1>

<%= render "form", badging_date: @badging_date %>

<br>

<div>
  <%= link_to "Show this badging date", @badging_date %> |
  <%= link_to "Back to badging dates", badging_dates_path %>
</div>
