<h1 id='room-identifier' data-room-number=<%= "#{@room.id}" %>>chat</h1>

<div class="col-md-8 col-md-offset-2">
  <div class="row">
    <div id="messages">
      <%= render @messages %>
    </div>
  </div>

  <hr>

  <div class="row">
    <form style="width: 100%">
      <input type="text" data-behavior="room_speaker"
      style="width: 100%" placeholder="type in here">
    </form>
  </div>
</div>
