<div class="containter-fluid"
    <div class="row">

            <% if !@epa_masters.nil? %>
              <div id="epa-masters-table">
                <h3>Badging EPAs - <%= @full_name %> </h3>
                <table class="responsive nowrap table table-hover" id="dttb-epa_masters" data-sort="true" data-source="<%= url_for(format: :json)%>">
                  <thead>
                    <tr>
                      <th data-data="epa">EPA</th>
                      <th data-data="status">Status</th>
                      <th data-data="EntrustmentReviews">Entrustment Reviews</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if !@epa_masters.nil? %>
                      <% @epa_masters.each do |epa_master| %>
                          <%= render partial: "epa_masters/epa_masters_row", locals: { epa_master: epa_master } %>
                      <% end %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            <% end %>


    </div>
</div>
