<div id="modal-epa-windor", class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="container col-sm-12">
        <%= render 'form', epa_master: @epa_masters%>
      </div>
    </div>
  </div>
</div>
