<div class="container" >
  <br /> <br />
    <div class="card">
      <div class="card-body">
        <%= form_tag(average_wba_epa_epa_masters_path, remote: true, method: "get", id: 'average_wba_epa_form') do %>
          <div class="form-group navbar-form navbar-left">
             <label for="start">
                  Start Date:
              </label>

              <input type="date" name="StartDate"
                  placeholder="dd-mm-yyyy" value="2019-01-01"
                  min="2018-01-01" max="2030-12-31">

              <label for="End">
                    End Date:
              </label>

              <input type="date" name="EndDate"
                  placeholder="dd-mm-yyyy" value=<%= Date.today.strftime("%Y-%m-%d") %>
                  min="2018-01-01" max="2030-12-31">

              <b>Cohort </b> <%= select_tag :permission_group_id, options_from_collection_for_select(@permission_groups, "id", "title", selected: params[:permission_group_id]), include_blank: '--',
                 prompt: "Please Select a Cohort", onchange: "this.form.submit();" %>
              <br />
              ** The above dates will be SELECTED for ALL WBAs! **
          </div>
        <% end %>
      </div>
    </div>


      <% if !@level_epa_wbas_count_hash.blank? %>
        <%= render partial: 'detail_average_wba_epa', locals: {cohort: params[:cohort]} %>
      <% end %>


</div>
