<div class="container" >
  <br /> <br />
    <div class="card">
      <div class="card-body">
        <%= form_tag(average_wba_epa_epa_masters_path, remote: true, method: "get", id: 'average_wba_epa_form') do %>
          <div class="form-group navbar-form navbar-left">
             <label for="start">
                  Start Date:
              </label>

              <input type="date" name="StartDate"
                  placeholder="dd-mm-yyyy" value="01-01-2020"
                  min="1997-01-01" max="2030-12-31">

              <label for="End">
                    End Date:
              </label>

              <input type="date" name="EndDate"
                  placeholder="dd-mm-yyyy" value="02-18-2022"
                  min="1997-01-01" max="2030-12-31">

             <b>Cohort </b> <%= select_tag :cohort, options_for_select(["Med21", "Med22", "Med23", "Med24", "Med25"], selected: params[:cohort]), include_blank: '--',
                prompt: "Please Select a Cohort", onchange: "this.form.submit();" %>
              <br />

              ** If both dates are blank, it will select ALL WBAs! **

          </div>
        <% end %>
      </div>
    </div>


      <% if !@level_epa_wbas_count_hash.blank? %>
        <%= render partial: 'detail_average_wba_epa', locals: {cohort: params[:cohort]} %>
      <% end %>


</div>
