<br />
<div class="row justify-content-center">

      <div class="card">
         <div class="card-body">
            <% epa_badged_graph ||= epa_badged_graph(@all_cohorts_badges) %>
            <%= high_chart("epa_badged_graph", epa_badged_graph) %>
        </div>
      </div>


</div>
