<div class="container" >
  <div class='row'><br />
    <div class="panel panel-default">
      <div class="panel-body">
        <%= form_tag(epa_qa_epa_masters_path, method: "get", id: 'epa_qa_form') do %>
          <div class="form-group navbar-form navbar-left">
             <b>Cohort </b> <%= select_tag :cohort, options_for_select(["Med21", "Med22"], selected: params[:cohort]), include_blank: '--',
                prompt: "Please Select a Cohort", onchange: "this.form.submit();" %>
          </div>
      </div>

    </div>

  </div>
  <div class="row">
      <% if !@epa_qa_data.blank? %>
        <%= render partial: 'detail_epa_qa' %>
      <% end %>
    <% end %>
 </div>

</div>
