<div class="container" >
 <br /><br />
    <div class="card">
      <div class="card-body">
        <%= form_tag(epa_qa_epa_masters_path, method: "get", id: 'epa_qa_form') do %>
          <div class="form-group navbar-form navbar-left">
            <b>Cohort </b> <%= select_tag :permission_group_id, options_from_collection_for_select(@permission_groups, "id", "title", selected: params[:permission_group_id]), include_blank: '--',
               prompt: "Please Select a Cohort", onchange: "this.form.submit();" %>
          </div>
      </div>

    </div>


  <br />
  <% if !@epa_qa_data.blank? %>
      <%= render partial: 'detail_epa_qa' %>
    <% end %>
  <% end %>


</div>
