
<div class="card">
  <div class="card-body">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            <h5>Data Content for AI [click here]</h5>
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <h5 style='color:blue;'>Data Content for AI </h5>
           <%= @new_content.to_s.html_safe %>
          </div>
        </div>
      </div>
    </div>
 </div>
</div>

<div class="card">
  <div class="card-body">
      <%= simple_form_for(query_ai_epa_masters_path, method: 'get', remote: true) do %>
        <input type="hidden" id="full_name" name="full_name" value="<%= @full_name %>">
        <div class="mb-3">
          <label for="AiQuestion" class="form-label">AI Question</label>** Please Select an AI Option:
          <label class="radio-inline">
            <input type="radio" name="aiOption[]" value="google">Gemini2.5-flash-preview-04-17
          </label>
          <label class="radio-inline">
            <input type="radio" name="aiOption[]" value="chatgpt">ChatGPT-gpt-4.1-mini-2025-04-14
          </label>

          <input type="text" class="form-control" name="ai_question" value= "<%= @question %>">
        </div>

        <button type="submit" class="btn btn-primary" id="queryAiButton">Submit</button>

       <% end %>
 </div>
</div>

  <div class="card">
    <div class="card-body">
      <div id="query_ai_responses">

      </div>
    </div>
  </div>
