<div class="container" >
  <br /> <br />
    <div class="card">
      <div class="card-body">
        <%= form_tag(wba_clinical_epa_masters_path, method: "get", id: 'wba_clinical_form') do %>
          <div class="form-group navbar-form navbar-left">
             <b>Cohort </b> <%= select_tag :permission_group_id, options_from_collection_for_select(@permission_groups, "id", "title", selected: params[:permission_group_id]), include_blank: '--',
                prompt: "Please Select a Cohort", onchange: "this.form.submit();" %>
          </div>
        <% end %>
      </div>
    </div>


      <% if !@wba_clinical_data.blank? %>
        <%= render partial: 'detail_wba_clinical', locals: {cohort: params[:cohort]} %>
      <% end %>


</div>
