<div class="container" >
  <br /> <br />
    <div class="card">
      <div class="card-body">
        <%= form_tag(wba_clinical_epa_masters_path, method: "get", id: 'wba_clinical_form') do %>
          <div class="form-group navbar-form navbar-left">
             <b>Cohort </b> <%= select_tag :cohort, options_for_select(["Med21", "Med22", "Med23", "Med24", "Med25"], selected: params[:cohort]), include_blank: '--',
                prompt: "Please Select a Cohort", onchange: "this.form.submit();" %>
          </div>
        <% end %>
      </div>
    </div>


      <% if !@wba_clinical_data.blank? %>
        <%= render partial: 'detail_wba_clinical', locals: {cohort: params[:cohort]} %>
      <% end %>


</div>
