<% @course_header = "Create New Course" %>
<%= render "form", course: @course %>

<div class="card mx-auto" style="width: 75%;">
  <div class="card-body">
    <%= link_to "Back to courses", courses_path %>
  </div>
</div>
