<% if !@formative_feedbacks.blank? %>
    <div class="table-responsive-sm">
      <table class="table table-striped">
        <% @formative_feedbacks.drop(3).each do |key, values| %>
          <tr>
            <td style=text-align:right;"><i> <%= hf_formative_feedback_labels(key) %></i> </td>
              <% values.each do |val| %>
                <td> <%= val %> </td>
              <% end %>
          </tr>
        <% end %>
      </table>
    </div>
<% else %>
  <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No formative feedback found!
  <br />
<% end %>
