<ul id="MainFormativeTabs" class="nav nav-tabs" role="tablist">

    <li class="bold-italic nav-item waves-effect waves-light">
      <a class="nav-link" id="informatics-tab" data-bs-toggle="tab" href="#informatics" style="background-color:#f4cccc" role="tab" aria-controls="informatics" aria-selected="true">Informatics Feedback
      </a>
    </li>
    <li class="bold-italic nav-item waves-effect waves-light">
      <a class="nav-link" id="csa-tab" data-bs-toggle="tab" href="#CSAFeedback" style="background-color:#fce5cd" role="tab" aria-controls="CSAFeedback" aria-selected="false">
        CSA Formative Feedback
      </a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="informatics" class="tab-pane fade active show" role="tabpanel"  aria-labelledby="informatics-tab">
      <%= render partial: "informatics_feedback" %>
    </div>

    <div id="CSAFeedback" class="tab-pane fade" role="tabpanel"  aria-labelledby="csa-tab">
      <%= render partial: "formative_feedbacks" %>
    </div>
  </div>
