<h4> List All Blocks </h4>
<table class="table table-condensed table-hover" id="Main table" style="background-color:#BBD9FF;">
  <thead>
    <% @list_all_blocks.each do |block| %>
      <tr>
        <th><%= block[0] %> - <%= block[1] %></th>
        <th><%= link_to 'Export Block', fom_exams_export_block_path(permssion_group_id: block[0], course_code: block[1]) %></th>
      </tr>
    <% end %>
  </thead>

</table>
