
<br />
<%= link_to 'Back to Main Page', process_fom_fom_exams_path(uuid: current_user.uuid, action: 'index')%>
<% if !@log_results.blank? %>
  <h4> Exams are updated! </h4>
  <br />
  <% @log_results.each do |result| %>
    <%= result %><br />
  <% end %>
<% else %>
  <br />
  <h5> Processed Label File </h5>
<% end %>
<br />
<%= link_to 'Back', process_fom_fom_exams_path(uuid: current_user.uuid, action: 'index')%>
