    <tr>
         <td><%= trigger.name %></td>
         <td><%= link_to trigger.sid_src, rails_admin.show_path(model_name: 'lime_survey', id: trigger.sid_src) %></td>
         <td><%= link_to trigger.sid_dest, rails_admin.show_path(model_name: 'lime_survey', id: trigger.sid_dest) %></td>
         <td>
            <% unless trigger.new_record? %>
            <%= link_to rails_admin.delete_path( model_name: 'lime_ext~sync_trigger', id: trigger.tgrelid), method: :delete do %>
                <i class="fa fa-trash-o" style="color-red;"></i>
            <% end %>
            <% end %>
         </td>
     </tr>
