<p> Hello <%= @meeting_mailer.user.full_name.split(", ").last %>, <br /><br />

  <%= @body_msg.html_safe %><br />

  Thanks!  <br /><br />

  OASIS Team <br />
  Erika Chomina <br />
  OASIS Program Manager <br />
  OHSU School of Medicine|UME <br />
  chomina@ohsu.edu</p>
