<%= stylesheet_link_tag 'comments' %>
<div class="assignment-group-comments">
  <%= render partial: 'comments/comments', locals: {commentable: @assignment_group} %>
</div>
<%= render partial: 'comments/form', locals: {commentable: @assignment_group} %>
<% if can? :comment_on, @assignment_group %>
  <p class="comment-info">
    Only you can post here-- you can use this space to relay information to all the students you coach
  </p>
<% end %>
