<select name="test" id="test" multiple="multiple" class="form-control">

<% @assignment_group.users_enum.each do |user| %>
    <option value="<%= user.id %>"><%= user.title %></option>
<% end %>

</select>

