<textarea name="MyID" id="MyID"></textarea>
<form id='assignment_group_2_slug' class='form-group'>
   <div class="md-show">
       <button type="button" class="btn btn-link pull-right"
           data-hide="#assignment_group_2_slug .md-show"
           data-show="#assignment_group_2_slug .md-edit">
       <i class="glyphicon glyphicon-edit"></i>
     </button>
   </div>

  <div class='md-show'>
      Preparation for meetings on November 16th.
      <p>
      We are going to have a lot of things to prepare for in the next month, so
      we need to break these tasks down into smaller and more manageable chunks.
      Some things to think about:
      </p>
      <ol>
          <li>
              How much time will it take
          </li>
          <li>
              How much time do you have
          </li>
          <li>
              What do you want to accomplish
          </li>
      </ol>
  </div>
  <div class="md-edit bs-callout bs-callout-primary" style='display:none;'>
      <h4>
          <span class="label label-primary">Editing</span>
          <%= Settings.assignments_route_name.singularize.titleize %> description
      </h4>
      <div class="pull-right">
        <button type="button" class="btn btn-link"
              data-show="#assignment_group_2_slug .md-show"
              data-hide="#assignment_group_2_slug .md-edit">
          <i class="glyphicon glyphicon-ok"></i>
        </button>
        <button type="button"
                class="btn btn-link"
                data-show="#assignment_group_2_slug .md-show"
                data-hide="#assignment_group_2_slug .md-edit">
            <i class="fa fa-ban"></i>
        </button>

      </div>
      <textarea class='form-control' rows="8"></textarea>
  </div>
</form>

