<h3>Participants</h3>
<div class="row">
<div class="col-md-7">
    <%= form_for @assignment_group, remote: true do |f| %>
        <%= f.select :user_ids,
            options_for_select(f.object.user_ids_enum, selected: f.object.user_ids), {},
            disabled: cannot?(:edit, @assignment_group),
            multiple: :multiple, class: 'form-control',
            data: {class: 'Assignments.Select2'}
        %>
    <% end %>
</div>
</div>
