<div class="nested-fields">
  <div class="row">
      <div class="col-sm-1">
          <b>*Action Plan</b>
      </div>
      <div class="col-sm-1">
          <%= f.text_area :description %> 
      </div>
  </div>

</div>