<%= link_to("<< back to list", {action:'index'}) %>

  <div class="Goal Info">
    <ul>
      <% if params[:goal_type] == 'Goal' %>
        <%= render(partial: 'comments/comment', locals: {commentable: @goal}) %>
      <% else %>
        <%= render(partial: 'comments/comment', locals: {commentable: @meeting}) %>

      <% end %>
    </ul>
  </div>

 

