<%= link_to("<< back to list", {action:'index', class:'back-link'}) %>

  <div class="Goal Edit">
  <%= form_for(:goal, :url=>{:action=>'update', :id=>@goal.id}) do |f| %>
    <%= render(:partial=> "form", :locals => {:f => f}) %>
    <div class="form-buttons">
      <%= submit_tag("Update Goal") %>
    </div>
  <% end %>

  </div>

 

