// Place all the styles related to the artifacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.center {
  margin-left:auto;
  margin-right:auto;
}

//use for artifacts upload
label.asdndzone {
    box-sizing: border-box;
    display: block;
    border: 3px solid #443ece;
    border-radius: 6px;
    min-height: 220px;
    max-width: 400px;
    width: 100%;
    padding: 99px 20px 20px;
    background: #e0dff7;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 0.6px;
}
