#assignment-group-comments {
  font-size: 1.1em;
  width: 95%;
}

.assignment-container {
  height: 100%;
}

.response-display {
  height: 98%;
}

.left-panel {
  width: 50%;
  float: left;
  height: 100%;
  padding-right: 10px;
  border-right: 1px solid #eeeeee;
}

.left-panel-scroll {
  overflow-y: auto;
}

.right-panel {
  width: 50%;
  float: left;
  height: 100%;
  overflow-y: auto;
  padding-left: 10px;
}

span.label.label-success, .btn.btn-success {
  background-color: #12A563;
  &:active {
    background-color: darken(#12A563, 10%);
  }
}

.open > .btn.btn-success {
  background-color: darken(#12A563, 10%) !important;
}

span.label.label-info, .btn.btn-info  {
  background-color: #4387F5;
  &:active {
    background-color: darken(#4387F5, 10%);
  }
}

.open > .btn.btn-info {
  background-color: darken(#4387F5, 10%) !important;
}

span.label.label-warning, .btn.btn-warning  {
  background-color: #F8C63C;
  &:active {
    background-color: darken(#F8C63C, 10%);
  }
}

.open > .btn.btn-warning {
  background-color: darken(#F8C63C, 10%) !important;
}

a.comment-delete {
  display: none;
}
