// Place all the styles related to the assignment/user_response controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'assignment_assignment_groups';

.back-to-assignment-root {
  color: inherit;
  text-decoration: inherit;

  &:hover, :active {
    color: darken(#777777, 10%);
    text-decoration: inherit;
  }
}

.user-response-comments {
  display: flex;
  height: 100%;
  flex-flow: column;
}

.user-response-comments .row {
  flex: 0 1 30px;
  margin-left: 0px;
}

.user-response-comments .row.header {
  flex: 0 1 53px;
}

.user-response-comments .row.content {
  flex: 1 1 auto;
}

.user-response-comments .row.comments-box {
  flex: 0 1 50px;
  border-top: 1px solid #eeeeee;

  .comments-input {
    margin-left: 20px;
    color: lightgrey;
  }
}

.user-response-comments hr {
  margin-left: 0;
  margin-right: 0;
}

.user-response-comments h3 {
  margin-bottom: 0px;
}

.user-response-title {
  text-align: center;
}
