.assignment-group-comments {
  border-left: solid #286090;
}

.comment-row {
  padding-left: 10px;
}

.sys-comment-row {
  @extend .comment-row;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: solid #286090;
}

.comment-submit {
  padding-top: 10px;
}

.comment-info {
  opacity: 0.6;
  font-size: 12px;
  font-style: italic;
}
