// Place all the styles related to the competencies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the wba_graphs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
// @import "font-awesome-sprockets";
// @import "font-awesome";
.center-div
{
     margin: auto;
     max-width: 1600px;
}
.inner-div
{
  margin: auto;
  max-width: 1400px;
}
.bold-italic {
    font-weight: bold;
    font-style: italic;

}
.nav-tabs {
    padding-top: 10px;
    padding-left: 0px;
    margin-bottom: 0;
    border: none;
}
.tab-content {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
}

input[type=checkbox], input[type=radio] {
    vertical-align: middle;
}
input[type=radio] {
    bottom: 2px;
}

.panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f068";
    padding-right: 5px;
}
.panel-title > a.collapsed:before {
    float: right !important;
    content:"\f067";
}
.panel-title > a:hover,
.panel-title > a:active,
.panel-title > a:focus  {
    text-decoration:none;
}
h3 {
  text-align:center;
}
h5 {
  text-align:center;
}
input[type="text"]{
background-color:#caf4dd !important
}

.labels {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  span {
    color: #666;
  }
}
.progress {
  height: 20px;
}
.progress-bar {
background: -webkit-linear-gradient(left, #33156d 0%,#f282bc 100%); /* Chrome10-25,Safari5.1-6 */
}

// .progress {
//   position: relative;
//   height: 31px;
//   background: rgb(255, 0, 0);
//   background: -moz-linear-gradient(left, rgba(255, 38, 0, 1) 0%, rgba(0, 255, 0, 1) 100%);
//   background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 38, 0, 1)), color-stop(100%, rgba(0, 255, 0, 1)));
//   background: -webkit-linear-gradient(left, rgba(255, 38, 0, 1) 0%, rgba(0, 255, 0, 1) 100%);
//   background: -o-linear-gradient(left, rgba(255, 38, 0, 1) 0%, rgba(0, 255, 0, 1) 100%);
//   background: -ms-linear-gradient(left, rgba(255, 38, 0, 1) 0%, rgba(0, 255, 0, 1) 100%);
//   background: linear-gradient(to right, rgba(255, 38, 0, 1) 0%, rgba(0, 255, 0, 1) 100%);
// }
//
// .comp-progress {
//   position: relative;
//   height: 25px;
//   background: rgb(255, 0, 0);
//   background: -moz-linear-gradient(left, rgba(255, 38, 0, 1) 0%, rgba(0, 255, 0, 1) 100%);
//   background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 38, 0, 1)), color-stop(100%, rgba(0, 255, 0, 1)));
//   background: -webkit-linear-gradient(left, rgba(255, 38, 0, 1) 0%, rgba(0, 255, 0, 1) 100%);
//   background: -o-linear-gradient(left, rgba(255, 38, 0, 1) 0%, rgba(0, 255, 0, 1) 100%);
//   background: -ms-linear-gradient(left, rgba(255, 38, 0, 1) 0%, rgba(0, 255, 0, 1) 100%);
//   background: linear-gradient(to right, rgba(255, 38, 0, 1) 0%, rgba(0, 255, 0, 1) 100%);
// }
//
// .amount {
//   position: absolute;
//   top: 0;
//   right: 0;
//   height: 100%;
//   transition: all 0.8s;
//   background: #E8FDD5;
//   width: 0;
// }
//
// .comp-amount {
//   position: absolute;
//   top: 0;
//   right: 0;
//   height: 100%;
//   transition: all 0.8s;
//   background: #E8FDD5;
//   width: 0;
// }
//
// .progress:before {
//   content: attr(data-amount)"% Complete";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 10;
//   text-align: center;
//   line-height: 31px;
// }
//
// .comp-progress:before {
//   content: attr(comp-data-amount)"% Complete";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 10;
//   text-align: center;
//   line-height: 31px;
// }

.panel-default > .panel-heading-backgroud-color {
   background-color: #AFECE7;
 }

 .column {
  float: left;
  width: 50%;
}
.column-fom {
 float: left;
 width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.tooltip-inner {
    background-color:#1E28FF;
    max-width: 450px; /* set this to your maximum fitting width */
    width: inherit; /* will take up least amount of space */
}
