.table2-striped>tbody>tr:nth-child(odd)>td,
.table2-striped>tbody>tr:nth-child(odd)>th {
 background-color: #DAC6C6;
}

.table3-striped>tbody>tr:nth-child(odd)>td,
.table3-striped>tbody>tr:nth-child(odd)>th {
 background-color: #B2DBED;
}

// tbody, thead tr { display: block; }

// tbody {
//     height: 1000px;
//     overflow-y: auto;
//     overflow-x: hidden;
// }
