// .bg-light2 {
//   background-color: #FADCD9;
// }

body {
  background-size: 100% 100%;
  background-image: image-url('AdobeStock_219914874_Preview_Medical_Pic.jpeg');
}


figure {
  display: inline-block;
  text-align: center;
  font-size: 12px;
}

.labels {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  span {
    color: #666;
  }
}

.start-progress {
  position: relative;
  height: 31px;

  background: rgb(255, 0, 0);
  background: -moz-linear-gradient(left, rgba(255, 0, 0, 1) 0%, rgba(0, 255, 0, 1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 38, 0, 1)), color-stop(100%, rgba(0, 255, 0, 1)));
  background: -webkit-linear-gradient(left, rgba(255, 0, 0, 1) 0%, rgba(0, 255, 0, 1) 100%);
  background: -o-linear-gradient(left, rgba(255, 0, 0, 1) 0%, rgba(0, 255, 0, 1) 100%);
  background: -ms-linear-gradient(left, rgba(255, 0, 0, 1) 0%, rgba(0, 255, 0, 1) 100%);
  background: linear-gradient(to right, rgba(199, 0, 83, 78) 0%, rgba(255, 106, 84, 100), rgba(255, 238, 84, 100), rgba(0, 240, 0, 1) 100%);
}

.comp-progress {
  position: relative;
  height: 25px;
  background: rgb(255, 0, 0);
  background: -moz-linear-gradient(left, rgba(255, 38, 0, 1) 0%, rgba(0, 255, 0, 1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 38, 0, 1)), color-stop(100%, rgba(0, 255, 0, 1)));
  background: -webkit-linear-gradient(left, rgba(255, 38, 0, 1) 0%, rgba(0, 255, 0, 1) 100%);
  background: -o-linear-gradient(left, rgba(255, 38, 0, 1) 0%, rgba(0, 255, 0, 1) 100%);
  background: -ms-linear-gradient(left, rgba(255, 38, 0, 1) 0%, rgba(0, 255, 0, 1) 100%);
  background: linear-gradient(to right, rgba(199, 38, 0, 1) 0%, rgba(255, 106, 84, 100), rgba(255, 238, 84, 100), rgba(0, 240, 0, 1) 100%);
  //filter: unquote("progid:DXImageTransform.Microsoft.gradient(enabled=true)");
}

.amount {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  transition: all 0.8s;
  background: #E8FDD5;
  width: 0;

}

.comp-amount {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  transition: all 0.8s;
  background: #E8FDD5;
  width: 0;

}

.progress:before {
  content: attr(data-amount)"% QA Completion";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  text-align: center;
  line-height: 31px;
  font-weight: bold;
  font-size: 1rem
}

.comp-progress:before {
  content: attr(comp-data-amount)"% QA Completion";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  text-align: center;
  line-height: 31px;
  font-weight: bold;
  font-size: 1rem;
}

.opaque-image {
  opacity: 0.25;
}
.wrapper {
  display: flex;
  grid-gap:10px;
  flex-wrap: wrap;

  }
  .column {
   float: left;
   width: 50%;
 }
 .column-fom {
  float: left;
  width: 33.33%;
 }
