// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.link-to-text-color {
  background-color: #dbcfe7;
}
.table1 {
background: rgba(255,255,255,0.5);
}

.container a:hover {
  color: #f55e55;
  text-decoration: none;
  background-color: #CAE5FF;
}
body {
  background-color: #F7FAFE;
}
