<h1>Clinical</h1>
<h3>D1 Evaluations - Adult</h3>
<table class="table table-hover">
  <tr>
    <td>Scale 1: Never - 5: Always</td>
    <td>Clinical Care Quality</td>
    <td>Willing to help when asked</td>
    <td>Has a professional positive attitude</td>
    <td>Keeps D1 updated on case progess</td>
    <td>Responds to pages in a timely manner</td>
    <td>Reports promptly when assuming call</td>
  </tr>
  <tr>
    <td>Score</td>
    <td>4.8</td>
    <td>5.0</td>
    <td>4.7</td>
    <td>4.7</td>
    <td>4.4</td>
    <td>4.9</td>
  </tr>
  <tr>
    <td>Average Score</td>
    <td>4.8</td>
    <td>4.8</td>
    <td>4.7</td>
    <td>4.8</td>
    <td>4.8</td>
    <td>4.9</td>
  </tr>
  <tr>
    <td>Comments</td>
    <td colspan="6">Can get a lot of push back when moving cases into room; looks to be out most days at 4p sharp.</td>
  </tr>
</table>
<h3>D1 Evaluations - Ped</h3>
<table class="table table-hover">
  <tr>
    <td>Yes, no, or comments - four evaluators</td>
    <td>Arrives on time is prepared</td>
    <td>Willing to help when asked</td>
    <td>Has a professional positive attitude</td>
    <td>Keeps D1 updated on case progess</td>
    <td>Responds to pages in a timely manner</td>
    <td>Reports promptly when assuming call</td>
    <td>Clinical Care / Quality</td>
  </tr>
  <tr>
    <td>Score</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Comments</td>
    <td colspan="7"></td>
  </tr>
</table>
<h3>On Time Starts</h3>
<table class="table table-hover">
  <tr>
    <td></td>
    <td># on Time</td>
    <td># of Late Starts</td>
    <td># of First Cases</td>
    <td>% on Time</td>
  </tr>
  <tr>
    <td>AMB</td>
    <td>17</td>
    <td>4</td>
    <td>21</td>
    <td>81.0%</td>
  </tr>
  <tr>
    <td>CEI</td>
    <td>4</td>
    <td>0</td>
    <td>4</td>
    <td>100.0%</td>
  </tr>
  <tr>
    <td>CHH</td>
    <td>25</td>
    <td>4</td>
    <td>29</td>
    <td>86.2%</td>
  </tr>
  <tr>
    <td>DCH</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>SOR</td>
    <td>78</td>
    <td>15</td>
    <td>85</td>
    <td>91.8%</td>
  </tr>
  <tr>
    <td>Total</td>
    <td>124</td>
    <td>15</td>
    <td>139</td>
    <td>89.2%</td>
  </tr>
</table>
