<table class="table table-hover">
  <tr>
    <th></th>
    <th>Professionalism</th>
    <th>Accountability</th>
    <th>Leadership</th>
    <th>Excellence in Service</th>
    <th>Communication</th>
    <th>Efficiency</th>
  </tr>
  <tr>
    <th>Your Averages:</th>
    <th>Excellent</th>
    <th>Excellent</th>
    <th>Excellent</th>
    <th>Excellent</th>
    <th>Excellent</th>
  </tr>
</table>
