<table class="table table-hover">
  <tr>
    <th>thing</th>
    <th>value</th>
  </tr>
  <tr>
    <td>M&M Attendence</td>
    <td>63%</td>
  </tr>
  <tr>
    <td>Self Summary</td>
    <td>My contributions are as follows</br>-Team player</br>-Flexible (pick up extra LC4s and 9-7s and with assignments)</br>-Orient new hires</br>Employee recognition committee</br>Taking student learners</br>I believe I have impoved in my ability to give constructive feedback over the last year and hope to continue working on this skill over the next year. I work well in a team environment. In the next year I plan to continue helping out when needed. And most importantly, continue to grow as a provider.</td>
  </tr>
</table>

