<h1>Education</h1>
<table class="table table-hover">
  <tr class="active">
    <td colspan="4">Journal Club Attendance</td>
  </tr>
  <tr>
    <td colspan="2">Journal Club Attended</td>
    <td colspan="2">Journal Club Presented</td>
  </tr>
  <tr>
    <td colspan="2">0</td>
    <td colspan="2">0</td>
  </tr>
  <tr class="active">
    <td colspan="4">Advisors Meetings</td>
  </tr>
  <tr>
    <td colspan="2">Evaulations Submitted</td>
    <td colspan="2">2/3</td>
  </tr>
  <tr class="active">
    <td colspan="4">Resident Lecture Evaulations</td>
  </tr>
  <tr>
    <td>Standard Deviation</td>
    <td>Score Percentage</td>
    <td>Resident Eval Avg Score</td>
    <td># of Resident Evaluations</td>
  </tr>
  <tr>
    <td>0.44</td>
    <td>94.8%</td>
    <td>4.74</td>
    <td>54</td>
  </tr>
  <tr class="active">
    <td colspan="4">Didactic Lecture Evaulations</td>
  </tr>
  <tr>
    <td>Standard Deviation</td>
    <td>Score Percentage</td>
    <td>Resident Eval Avg Score</td>
    <td># of Resident Evaluations</td>
  </tr>
  <tr>
    <td>0.0</td>
    <td>0.0%</td>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr class="active">
    <td colspan="4">Committee Presence</td>
  </tr>
  <tr>
    <td colspan="4">0</td>
  </tr>
  <tr class="active">
    <td colspan="4">Handling of Special Projects</td>
  </tr>
  <tr>
    <td colspan="4">RECCC</td>
  </tr>
  <tr class="active">
    <td colspan="4">Comments</td>
  </tr>
  <tr>
    <td colspan="4">Outstanding clinical teaching scores. Lead the ICU curriculum and milestone mapping. An effective leader on RECCC.</td>
  </tr>
  <tr class="active">
    <td colspan="4">ICU and MM Attendance</td>
  </tr>
  <tr>
    <td colspan="2">Total Attendance</td>
    <td colspan="2">Percent Attendance</td>
  </tr>
  <tr>
    <td colspan="2">14</td>
    <td colspan="2">66.7%</td>
  </tr>
</table>
