<table class="table table-hover">
  <tr>
    <td>Turnovers</td>
    <td>Average Turnover</td>
    <td>Number of Cases</td>
  </tr>
  <tr>
    <td></td>
    <td>34</td>
    <td>446</td>
  </tr>
</table>
