<p id="notice"><%= notice %></p>

<h1>Reviews</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>
        who is it?
      </th>
    </tr>
  </thead>
  <tbody>
    <% Review.user_types.keys.each do |key| %>
      <tr>
        <td>
          <h3><%= key.to_s.upcase %></h3>
        </td>
      </tr>

      <% if Review.send(key).each do |review| %>
        <tr>
          <td><%= link_to review.user.full_name, review %></td>
        </tr>
      <% end.empty? %>
        <tr>
          <td>
            <h6>None of these yet!</h6>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
