<% content_for :title, "Editing Preceptorship Meeting" %>

<br>
<h4>New Preceptorship Meeting</h4>

<%= render "form", precep_meeting: @precep_meeting %>

<br>
<div>
  <%= link_to "Show this Preceptorship Meeting", @precep_meeting %> |
  <%= link_to "Back to Preceptorship Meetings", precep_meetings_path %>
</div>
