<% if !@cpx_artifacts.nil? %>
    <% @cpx_artifacts.each do |artifact| %>
      <% artifact.documents.each do |document| %>
        <tr>
          <td>
            <% if (hf_file_visible("CPX") == true) and (artifact.content.include? "CPX") %>
              <%= link_to document.filename, url_for(document), target: :_blank %> /
              <%= link_to 'Download', rails_blob_path(document, disposition: 'attachment') %>
              <br />
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
<% end %>
