<% @shelf_artifacts.each do |artifact| %>
  <% artifact.documents.each do |document| %>
    <tr>
      <td>
        <%= link_to document.filename, url_for(document), target: :_blank %>
        /
        <%= link_to 'Download', rails_blob_path(document, disposition: 'attachment') %>
        <br />
      </td>
    </tr>
  <% end %>

<% end %>
