<% if current_user.coaching_type != 'student' %>
  <br />
  <div id="container-fluid">
    <div class="card">
      <div class="card-body card-body-color">
        <div class="d-flex">

          <%= simple_form_for(mspe_reports_path, html: {class: "form-inline"}, method: "get") do %>
            <div class="form-group">
              <div class="form-group navbar-form navbar-left">
                <b>&nbsp;Cohort</b> <%= select_tag :cohort, options_from_collection_for_select(@permission_groups_mspe, 'id', 'title', selected: params[:cohort]), include_blank: '--',
                   prompt: "Please Select a Cohort", onchange: "this.form.submit();" %>
              </div>
            </div>
            <% if params[:cohort].present? %>
              <div class="form-group">
                <label for="student" class="control-label">Student</label>
                <%= select_tag :email, options_for_select(hf_student_list(params[:cohort])), selected: params[:email],
                    prompt: "Please Select a Student", onchange: "this.form.submit();" %>
              </div>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div id="mspe_data">
          <%= render partial: "mspe_data",  locals: {mspe_data: @mspe_data} %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <br /> <br />
  <h5> You are NOT authorized to access this page! </h5>
<% end %>
