<br />
<div id="container-fluid">
  <div class="card">
    <div class="card-body card-body-color">
      <div class="form-row">

        <%= simple_form_for(mspe_reports_path, html: {class: "form-inline"}, method: "get") do %>
          <div class="form-group col-sx-2">
            <div class="form-group navbar-form navbar-left">
              <b>Cohort </b> <%= select_tag :cohort, options_from_collection_for_select(@permission_groups, 'id', 'title', selected: params[:cohort]), include_blank: '--',
                 prompt: "Please Select a Cohort", onchange: "this.form.submit();" %>
            </div>
          </div>
          <% if !@students.nil? %>
            <div class="form-group col-sx-10">
              <label for="student" class="control-label">&nbsp;&nbsp;Student:&nbsp;</label>
              <%= select_tag :email, options_for_select(@students.collect{|s| [s["full_name"], s["email"]]}, selected: params[:email]),
                  prompt: "Please Select a Student", onchange: "this.form.submit();", class: 'form-control' %>
            </div>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>

  <hr>
  <div class="card">
    <div class="card-header">
      <h5><b>MSPE Data Report</b></h5>
    </div>
    <div class="card-body">
      <div id="mspe_data">
        <%= render partial: "mspe_data",  locals: {mspe_data: @mspe_data} %>
      </div>
    </div>
  </div>
</div>
