<% hf_generate_menu_hash(current_user.lime_surveys).each do |top_link, first_level| %>
  <li class=<%= nav_link_active?(top_link) ? "active" : "" %>>
    <div class="btn-group btn navbar-btn ">
      <button class="nav-header-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= hf_translate_header top_link %><span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
        <% first_level.each do |first_level_item, second_level| %>
          <% if first_level.keys.count > 1 %>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="#"><%= first_level_item %></a>
              <ul class="dropdown-menu">
                <% end %>
                <% second_level.each do |sub_menu_item, s| %>
                <%= nav_link_to(sub_menu_item, main_app.ls_reports_path(group_filter: "#{top_link}:#{first_level_item}:#{sub_menu_item}")) %>
                <% end %>
                <% if first_level.keys.count > 1 %>
              </ul>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </li>
<% end %>
