  <small>
    Edna
  </small>
  <nav>
    <ul>
      <li><a href="http://medednet.org">Medednet.org</a></li>
      <li><a href="https://fmresearch.ohsu.edu/public/wiki">Medednet.org Wiki</a></li>
      <li><a href="http://www.ohsu.edu/xd/education/schools/school-of-medicine/departments/clinical-departments/family-medicine/pcfdi/">PCFDI</a></li>
    </ul>
  </nav>
