<!DOCTYPE html>
<html lang="en">
  <%= render partial: 'layouts/head' %>
<body>

<div class="container-flex">
  <%= render 'layouts/nav_header' %>
  <%= render 'shared/messages' %>
  <%= yield %>
</div>

</body>
</html>
