<!DOCTYPE html>
<html lang="en">
  <%= render partial: 'layouts/head' %>
<body>

<%= render 'layouts/nav_header' %>
<div class="container-flex horizontal">
  <div id="flash-messages">
    <%= render 'shared/messages' %>
  </div>
  <%= yield %>
</div>

</body>
</html>
